.button {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $white;
    background-color: $purple;
    border-radius: 19px;
    padding: 10px 42px;
    cursor: pointer;

    &:hover {
        background-color: $orange;
        color: $purple;
    }
}

@media (max-width: 480px) {
    .button {
        &:hover {
            background-color: $purple;
            color: $white;
        }
    }
}