* {
    margin: 0;
    box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
    font-family: "roboto", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-width: 375px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1172px;
	min-width: 375px;
	margin: 0 auto;
	padding: 0 16px;
}

a {
    display: inline-flex;
    text-decoration: none;
	text-align: center;
	color: $black;

	&:hover {
		color: $purple-bright;
		transition-duration: 0.3s;
	}
}