$white: #ffffff;
$purple: #6F1EAA;
$purple-bright: #C282F0;
$purple-bg: #F6F3FA;
$purple-dark: #48156D;
$violet: #E8DCF8;
$wave: #DFF5F6;
$beige: #FEF7E5;
$beige-bg: #FFF7C2;
$beige-light: #FAF9F6;
$orange: #F5A61C;
$orange-line: #F7A500;
$black: #000000;
